/* colors */
:root {
  --animal-color: hsl(315, 99%, 26%);
  --cat-color: hsl(315, 99%, 26%);
  --dog-color: #002d7b;
}

/* typography */
h1,
h2,
h3 {
  font-family: "Londrina Solid", sans-serif;
  text-align: center;
}

h4,
h5,
h6,
p {
  font-family: "Roboto flex", sans-serif;
}

/* buttons */
.start-button {
  font-size: 1.2rem;
  padding: 10px;
  font-family: "Londrina Solid", sans-serif;
  border-radius: 5px;
  width: 100%;
}

.answer-button {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000;
  width: 100%;
}

.retry-button {
  font-size: 1.2rem;
  padding: 10px;
  font-family: "Londrina Solid", sans-serif;
  border-radius: 5px;
  width: 100%;
}

.answer-button.correct {
  background-color: #00ff00;
}

.answer-button.wrong {
  background-color: #ff0000;
}

/* layout */
.app-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}
.start-layout,
.quiz-layout,
.end-layout {
  width: 100%;
  min-height: calc(100vh - 60px);
  justify-content: center;
}
.start-wrapper,
.quiz-wrapper,
.end-wrapper {
  width: 100%;
}

.start-title-wrapper-container,
.quiz-content-wrapper,
.end-content-wrapper {
  padding-inline: 1rem;
  padding-block-end: 3rem;
}
.start-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 2rem;
}
.start-title-wrapper h1 {
  font-size: 3rem;
  font-weight: 600;
  color: var(--animal-color);
  text-align: center;
}

.quiz-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quiz-content-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.start-image-wrapper,
.question-image-wrapper,
.result-image-wrapper {
  margin-bottom: 2rem;
}

.start-image-wrapper img,
.question-image-wrapper img,
.result-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.question-title {
  margin-bottom: 1rem;
  color: var(--animal-color);
  font-size: 3rem;
  font-weight: 600;
}

.answers-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}
.answer-feedback-wrapper {
  height: 100px;
}
.result-title {
  font-size: 3rem;
  font-weight: 600;
  color: var(--animal-color);
  text-align: center;
}
.result-description {
  font-size: 1.5rem;
  font-weight: 600;
  /* color: var(--animal-color); */
  text-align: center;
}

.score-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.score-title {
  /* font-family: "Londrina Solid", sans-serif; */
  font-size: 1.5rem;
  /* color: var(--animal-color); */
  /* text-align: center; */
  font-weight: 900;
  text-transform: uppercase;
  margin-inline-end: 1rem;
}
.score-value {
  /* color: var(--animal-color); */
  /* font-family: "Londrina Solid", sans-serif; */
  font-size: 1.5rem;
  font-weight: 900;
}
footer {
  display: flex;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  text-align: left;
  padding: 10px;
  background-color: black;
  color: white;
  height: 60px;
  /* margin-top: 40px; */
  font-size: 1em;
  color: #555;
}

footer > p {
  color: white;
  font-size: 13px;
}

footer > i {
  color: white;
  margin-inline-end: 1rem;
  text-align: left;
}

@media (min-width: 990px) {
  .start-layout,
  .quiz-layout,
  .end-layout {
    display: flex;
    align-items: stretch;
  }
  .start-wrapper,
  .quiz-wrapper,
  .end-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .start-image-wrapper,
  .question-image-wrapper,
  .result-image-wrapper {
    margin-bottom: 0;
    height: -webkit-fill-available;
    width: 60%;
  }

  .quiz-content-wrapper,
  .end-content-wrapper,
  .start-title-wrapper-container {
    margin-inline: auto;
  }
  .quiz-layout {
    flex-direction: row;
  }
  .question-image-wrapper {
    width: 60%;
  }
  .question-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* toggle  */
/* From Uiverse.io by JaydipPrajapati1910 */
.toggle-button-cover {
  display: table-cell;
  height: 72px;
  width: 148px;
  position: relative;
  box-sizing: border-box;
}

.button-cover {
  height: 100px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 10px 20px -8px #c5d6d6;
  border-radius: 4px;
}

.button-cover:before {
  counter-increment: button-counter;
  content: counter(button-counter);
  position: absolute;
  right: 0;
  bottom: 0;
  color: #d7e3e3;
  font-size: 12px;
  line-height: 1;
  padding: 5px;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: absolute;
  top: 2rem;
  right: 0;
  width: 148px;
  height: 72px;
  margin: -40px auto 0 auto;
  overflow: hidden;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  border-color: #ffb73c;
  border-width: 4px;
  border-style: solid;
  transition: 0.3s ease all;
  z-index: 1;
}

.button.r,
.button.r .layer {
  border-radius: 200px;
}

#button-3 .knobs:before {
  content: "CAT";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 56px;
  height: 56px;
  color: white;
  font-size: 18px;
  font-weight: 900;
  font-family: "Roboto flex", sans-serif;
  text-align: center;
  line-height: 1;
  padding: 20px 0px;
  background-color: var(--animal-color);
  border-radius: 50%;
  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

#button-3 .checkbox:active + .knobs:before {
  width: 92px;
  border-radius: 200px;
}

#button-3 .checkbox:checked:active + .knobs:before {
  margin-left: -52px;
}

#button-3 .checkbox:checked + .knobs:before {
  content: "DOG";
  left: 84px;
  background-color: var(--animal-color);
}

#button-3 .checkbox:checked ~ .layer {
  background-color: lightgray;
}
